/* 
File Name: style.css
Student Name: Denisjann Reyes
Student ID: 301249768
Date: October 2, 2023
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  padding: 50px;
}

a {
  color: #00B7FF;
}
